// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  width: 1000px;
  margin: 0 auto;

  margin-top: 100px;
}
.section__header {
  font-size: 3rem;
  margin: 30px 0;
}
.section__subhead {
  font-weight: 600;
  display: flex;
  align-items: center;
}
.section__headerIcon {
  color: black;
  margin-top: 2px;
}
.circleIcon {
  font-size: 8px;
  height: 100%;
  margin: 10px;
}
.projects__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 100px;
  align-items: center;
  grid-gap: 30px;
  padding: 1px;

  &__detail {
    max-width: 300px;
    min-width: 250px;
    align-self: start;
  }
  &__type {
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  &__title {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 5px;
    & a {
      color: black;
      text-decoration: none;
    }
  }
  &__description {
    color: #707070;
    font-size: 1.2rem;
    line-height: 1.5rem;
    max-width: 250px;
    margin-bottom: 20px;
  }
  &__moreInfo {
    font-weight: 600;
    & a {
      color: black;
      text-decoration: none;
    }
  }
  &__image {
    border: solid 8px black;
    border-radius: 10px;
    box-shadow: 10px 10px #e84a5f;
    width: 90%;
    cursor: pointer;
    transition: transform 0.4s;
    &:hover {
      transform: scale(1.2);
      transition: transform 0.4s;
    }
  }
}

.image_backup {
  border: solid 0.4vw black;
  border-radius: 10px;
  box-shadow: 0.7vw 0.7vw #e84a5f;
  width: 90%;
  min-width: 260px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 100px;
  margin-bottom: 100px;
}
.dohkim {
  font-weight: 900;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  &:visited {
    color: black;
  }
  &--signout {
  }
}

.doh {
  font-weight: 800;
  font-size: 1.2rem;
}
